# Fichiers de compilation
build/
*.o
*.exe
*.out
*.a
*.so
*.dll

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Environnements de développement
.vscode/
.idea/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.temp