services:
  - type: web
    name: louage-tracker
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 10000
    autoDeploy: true